.slide-track-content {
  float: left;
  width: 60%;
}

.slides-track-list {
  ul {
    list-style: none;
    overflow-x: auto;
    white-space: nowrap;
  }

  li {
    display: inline;

    img {
      margin: 10px 30px;
    }
  }
}
